<header>
  <nav class="first-header">
    <ul>
      <li>
        <a href="">FAQ's</a>
      </li>
      <li>
        <a href="">Over ons</a>
      </li>
      <li>
        <a href="">Contact</a>
      </li>
    </ul>
  </nav>
</header>
<header>
  <nav class="second-header">
    <img src="./assets/logo.svg" alt="Associate Degree Platform" width="200" height="50">
    <ul>
      <li>
        <a href="/"> Home </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href=""> Over Ad's </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href=""> Publicaties </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/talentaward"> Talentaward </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/nieuws"> Nieuws </a>
      </li>
    </ul>
    <ul>
      <li>
        <a class="astyle ad-dag" href=""> Kom naar Ad-dag </a>
      </li>
    </ul>
    <picture>
      <source type="image/webp" srcset="/assets/burger-bar.webp">
      <img class="burgermenu" src="./assets/burger-bar.png" alt="menu" width="28" height="30">
    </picture>
  </nav>
</header>
