{% render 'partials/head.liquid', title: 'Home' %}
{% render 'partials/header.liquid' %}

  <main>
    <article class="hero">
      <nav class="breadcrumb">
        <a>Home</a>
        <span> / </span>
        <a>Nieuws</a>
      </nav>
      <h1>Nieuws</h1>
      <p>Op deze pagina vind je updates en korte verslagen van georganiseerde evenementen.</p>
      <picture>
        <source type="image/avif" srcset="/assets/heronews.avif">
        <source type="image/webp" srcset="/assets/heronews.webp">
        <img class="heropic" src="/assets/heronews.jpg" alt="ADconnect kantoor" fetchpriority="high">
      </picture>
    </article>
    <h2 style="padding-left: 20px;">Nieuws</h2>
    <div class="articlewrap">

    {% for artikel in nieuws %}
    <section style="margin: 0 20px" class="Nieuwsartikelen">
      <article class="artikelcard">
        <p style="line-height: 1.2;">{{  artikel.date | date: '%d %B %Y'}}</p>
      <h2>{{ artikel.title }}</h2>
      <p> {{  artikel.body | truncatewords: 20 }} </p>
      <a class="ad-dag astyle" href="/nieuws/{{ artikel.uuid }}">Meer informatie</a>
      </article>
      </section>
    {% endfor %}

    </div>
  </main>
</body>
